[submodule "TxHashSet/CRoaring"]
	path = TxHashSet/CRoaring
	url = https://github.com/RoaringBitmap/CRoaring.git
[submodule "Crypto/secp256k1-zkp"]
	path = Crypto/secp256k1-zkp
	url = https://github.com/mimblewimble/secp256k1-zkp.git

[submodule "include/thirdparty/mio"]

	path = include/thirdparty/mio
	url = https://github.com/mandreyel/mio.git

[submodule "PoW/cuckoo"]

	path = PoW/cuckoo
	url = https://github.com/GrinPlusPlus/cuckoo
[submodule "include/thirdparty/stduuid"]
	path = include/thirdparty/stduuid
	url = https://github.com/mariusbancila/stduuid.git
