[submodule "TxHashSet/CRoaring"]
	path = TxHashSet/CRoaring
	url = https://github.com/RoaringBitmap/CRoaring.git
[submodule "include/ThirdParty/mio"]
	path = include/ThirdParty/mio
	url = https://github.com/mandreyel/mio.git
[submodule "PoW/cuckoo"]
	path = PoW/cuckoo
	url = https://github.com/GrinPlusPlus/cuckoo
[submodule "include/ThirdParty/stduuid"]
	path = include/ThirdParty/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "Crypto/secp256k1-zkp"]
	path = Crypto/secp256k1-zkp
	url = https://github.com/mimblewimble/secp256k1-zkp
